*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    height: 100vh;
    background: linear-gradient(135deg,#0ee44e27,#6ddf02);

}
h1{
    align-items: center;
    margin-left: 40%;
    margin-top: 10%;
    font-size: 35px;
    color: rgba(17, 18, 19, 0.808);
}
#message{
    align-items: center;
    display: flex;
    margin-top: 30px;
    font-size: 20px;
    margin-left: 39%;
}
p{
    margin-top: 10px;
    font-size: 20px;
    margin-left: 39%;
}